/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightskyblue;
}



/* header*/

#titolo {
  font-family: "Nerko One", "Arial", "Times New Roman";
  color: white;
  font-size: 60px;
  font-style: oblique;
  text-align: center;

}




/* parte principale */



/* footer */
