/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightskyblue;
}



/* header*/

header {
  margin-bottom: 30px;
}

#titolo {
  font-family: "Nerko One", "Arial", "Times New Roman";
  color: white;
  font-size: 60px;
  font-style: oblique;
  text-align: center;
}


/* parte principale */

.primo-container {
  position: relative;
}

.caratteristiche-carte {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: 130px;
  border: 1px solid black;
  width: 130px;
  height: 160px;
  border-radius: 5px;

}

.carta-2 {
  position: absolute;
  top: 0px;
  left: 141px;
}
.carta-3 {
  position: absolute;

  top: 0px;
  left: 282px;
}

.carta-4 {
  position: absolute;
  top: 0px;
  left: 423px;
}

.fila-2 {
  margin-top: 15px;
}

.fila-3 {
  margin-top: 15px;
}

/* seconda riga */






/* footer */
