/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightskyblue;
}

main {
  max-width: 1170px;
  margin: auto;
}


/* box title */

#titolo {
  font-family: "Nerko One", "Arial", "Times New Roman";
  color: white;
  font-size: 40px;
  font-style: oblique;
  text-align: center;
  margin-bottom: 30px;
}


/* prima riga */

.container {
  position: relative;
  margin-left: 350px;
}

.caratteristiche-carte {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: 130px;
  border: 1px solid black;
  width: 130px;
  height: 160px;
  border-radius: 5px;
}

.carta-2 {
  position: absolute;
  top: 0px;
  left: 141px;
}

.carta-3 {
  position: absolute;

  top: 0px;
  left: 282px;
}

.carta-4 {
  position: absolute;
  top: 0px;
  left: 423px;
}

.fila-2 {
  margin-top: 15px;

}

.fila-3 {
  margin-top: 15px;
}

/* seconda riga */

.balloon {
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-size: 400px;;
  background-repeat: no-repeat;
  background-size: 130px;
  border: 1px solid black;
  width: 130px;
  height: 160px;
  border-radius: 5px;
}

.testo-baloon {
  font-family: "Nerko One", "Arial", "Times New Roman";
  font-size: 20px;
  color: #FF1493;
  text-align: center;
  line-height: 280px;
  background-color: white;
}

/* terza riga */

.trattore {
  width: 100%;
  height: 100%;
  position: relative;
}

.trattore:hover {
  border-radius: 5px;
}

.trattore img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

.trattore:hover img{
  background-color: white;
  display: inline-block;

}

.trattore .tractor {
  display: none;
  text-align: center;
  font-family: "Nerko One", "Arial", "Times New Roman";
  font-size: 20px;
  color: orange;
}

.trattore:hover .tractor {
  display: inline-block;
  position: absolute;
  left: 30px;
  bottom: 1%;
}

/* footer */

.piepagina {
  font-family: "Nerko One", "Arial", "Times New Roman";
  color: black;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;

}
